<a href="https://colab.research.google.com/github/BrunoGabri12/Rede_Neural_fundo/blob/master/fundos_p%C3%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importação dos dados do site fundsexplorer

In [ ]:
import requests
import pandas as pd
import numpy as np
import random

In [ ]:
url = 'https://www.fundsexplorer.com.br/ranking'

In [ ]:
response = requests.get(url)
if response.status_code == 200:
    df = pd.read_html(response.content, encoding='utf-8')[0]

df

## Sorteio Randomico de 100 fundos que servirão de base de dados para o treinamento

> Bloco com recuo




tal valor representa cerca de 25% do conjunto dos dados

In [ ]:
cod_fundos = df['Códigodo fundo'] #código dos fundos obtidos

NameError: ignored

In [ ]:

new_funds = []


randomico = random.sample(range(2,len(cod_fundos)),100)


for i in range (0,100):
  new_funds.append(cod_fundos[randomico[i]])

print(new_funds)

['CXTL11', 'ARRI11', 'RECR11', 'RBRF11', 'KNCR11', 'FVPQ11', 'RDPD11', 'RELG11', 'DOMC11', 'HOSI11', 'ALZR11', 'FPAB11', 'IBCR11', 'MGHT11', 'NVHO11', 'BTAL11', 'RBVA11', 'VILG11', 'AIEC11', 'DRIT11B', 'XPML11', 'CXCO11', 'CJCT11', 'HGFF11', 'ERCR11', 'KINP11', 'BLMR11', 'OULG11', 'BTWR11', 'CRFF11', 'BTCR11', 'BARI11', 'CXCE11B', 'JSRE11', 'MFAI11', 'HGCR11', 'ATSA11', 'VGHF11', 'XPIN11', 'SEQR11', 'NAVT11', 'FIGS11', 'QAGR11', 'RBRP11', 'HSML11', 'CVBI11', 'RRCI11', 'RECT11', 'ORPD11', 'HLOG11', 'GGRC11', 'FLCR11', 'HTMX11', 'RZAK11', 'OUJP11', 'RZTR11', 'FMOF11', 'LFTT11', 'PLRI11', 'FEXC11', 'LUGG11', 'RVBI11', 'MORE11', 'TRNT11', 'LASC11', 'HPDP11', 'VSLH11', 'PATC11', 'RECX11', 'EVBI11', 'NVIF11B', 'BBPO11', 'XPPR11', 'TGAR11', 'CORM11', 'FIIP11B', 'VOTS11', 'BBFI11B', 'VVPR11', 'HGRU11', 'MCCI11', 'VIUR11', 'BLCP11', 'YUFI11B', 'KNIP11', 'TORD11', 'HGRE11', 'RBCO11', 'HRDF11', 'BICR11', 'SPVJ11', 'GCFF11', 'PORD11', 'RBRR11', 'JRDM11', 'ABCP11', 'SDIL11', 'PQAG11', 'HGIC11', 'CPFF11']

Os dados obtidos então foram os seguintes Tickets 

['ONEF11', 'HRDF11', 'RVBI11', 'MALL11', 'CXCO11', 'CVBI11', 'XPCM11', 'EDGA11', 'RBCO11', 'KINP11', 'RBRF11', 'PATL11', 'PABY11', 'RBRD11', 'YUFI11B', 'MXRF11', 'HBRH11', 'JRDM11', 'RBED11', 'ALMI11', 'BREV11', 'FIIB11', 'RBLG11', 'VGHF11', 'HGPO11', 'HCTR11', 'BNFS11', 'IRIM11', 'WTSP11B', 'VIUR11', 'IFIE11', 'NVHO11', 'PLCR11', 'KNIP11', 'GCRI11', 'RECR11', 'BTAL11', 'GALG11', 'NVIF11B', 'KNHY11', 'BBIM11', 'FIGS11', 'VVPR11', 'FEXC11', 'OUFF11', 'HABT11', 'MCHY11', 'GTWR11', 'EQIN11', 'ALZR11', 'BPFF11', 'SPTW11', 'RBDS11', 'LFTT11', 'ARCT11']

##Extração dos Dados da tabela

In [ ]:
tickets = new_funds



prmt = ['Códigodo fundo','Preço Atual','Variação Preço',  #filtro dos atributos importantes 
       'PatrimônioLíq.','P/VPA', 'VariaçãoPatrimonial',	'Dividendo']


df2 = df[df['Códigodo fundo'].isin(tickets)] #filtrando pelos tickets
df_filter =pd.DataFrame(df2[prmt])

df_filter

    Códigodo fundo  Preço Atual  ... VariaçãoPatrimonial Dividendo
4           DOMC11    R$ 439,00  ...                 NaN   R$ 0,00
6           ORPD11    R$ 132,00  ...                 NaN   R$ 1,38
7           ATSA11     R$ 98,97  ...                 NaN   R$ 0,25
9           HTMX11     R$ 84,35  ...                 NaN   R$ 0,00
14          FMOF11     R$ 67,21  ...                 NaN   R$ 0,64
..             ...          ...  ...                 ...       ...
238         XPPR11     R$ 60,78  ...              -0,61%   R$ 0,55
245         RBVA11     R$ 95,70  ...               0,17%   R$ 0,91
251         PLRI11     R$ 39,10  ...              -8,26%   R$ 0,20
252        BBFI11B  R$ 1.964,99  ...               0,21%  R$ 25,85
253         HSML11     R$ 69,84  ...               0,10%   R$ 0,52

[100 rows x 7 columns]

## Mineração e tratamento dos dados


Antes de baixar os dados em CSV é necessário tratá-los adequadamente, ou seja, verificar valores nulos, converter os números.

É possivel visualizar que os dados mais preocupantes que devem ser tratados agora. Por exemplo os dados Nan. Precisamos torna-los 0. 
Para isso utilizamos a seguinte função
```
df_filt = df_filter.fillna(value=0)
```

In [ ]:


df_filter.isna().sum()

Códigodo fundo          0
Preço Atual             3
Variação Preço          7
PatrimônioLíq.          0
P/VPA                   3
VariaçãoPatrimonial    13
Dividendo               0
dtype: int64

In [ ]:
df_filter = df_filter.fillna(value=0)
df_filter.isna().sum() #conversão dos dados NaN

#percebe-se que não há mais nenhum dado NaN, todos foram substituidos por 0

Códigodo fundo         0
Preço Atual            0
Variação Preço         0
PatrimônioLíq.         0
P/VPA                  0
VariaçãoPatrimonial    0
Dividendo              0
dtype: int64

Agora é necessário remover algums caracteres, tal como 'R$' e a virgula e transformar os Dtype de object para float64

In [ ]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 4 to 253
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Códigodo fundo       100 non-null    object
 1   Preço Atual          100 non-null    object
 2   Variação Preço       100 non-null    object
 3   PatrimônioLíq.       100 non-null    object
 4   P/VPA                100 non-null    float64
 5   VariaçãoPatrimonial  100 non-null    object
 6   Dividendo            100 non-null    object
dtypes: float64(1), object(6)
memory usage: 6.2+ KB

In [ ]:
col_numeric = list(df_filter.iloc[:,1:].columns) #selecionando as colunas que devem ser float
col_numeric

['Preço Atual',
 'Variação Preço',
 'PatrimônioLíq.',
 'P/VPA',
 'VariaçãoPatrimonial',
 'Dividendo']

In [ ]:
df_filter=  df_filter.applymap(lambda x: str(x).replace('R$', '').replace('.0','').replace('.','').replace('%','').replace(',','.'))

df_filter

    Códigodo fundo Preço Atual  ... VariaçãoPatrimonial Dividendo
4           DOMC11      439.00  ...                   0      0.00
6           ORPD11      132.00  ...                   0      1.38
7           ATSA11       98.97  ...                   0      0.25
9           HTMX11       84.35  ...                   0      0.00
14          FMOF11       67.21  ...                   0      0.64
..             ...         ...  ...                 ...       ...
238         XPPR11       60.78  ...               -0.61      0.55
245         RBVA11       95.70  ...                0.17      0.91
251         PLRI11       39.10  ...               -8.26      0.20
252        BBFI11B     1964.99  ...                0.21     25.85
253         HSML11       69.84  ...                0.10      0.52

[100 rows x 7 columns]

O correto seria utilizar col_numeric da seguinte forma=



```
df_filter[col_numeric] = df_filter[col_numeric].astype('float') 
```

Todavida, ocorre algum problema que ainda não identifiquei. então, de modo mais 'brute force', é possível ir convertando coluna por coluna, a solução não é a mais bonita!!!!

In [ ]:
df_filter[ 'Preço Atual' ] = df_filter['Preço Atual'].astype(float)
df_filter[ 'Variação Preço' ] = df_filter['Variação Preço'].astype(float)
df_filter['PatrimônioLíq.'] = df_filter['PatrimônioLíq.'].astype(float)
df_filter['P/VPA'] = df_filter['P/VPA'].astype(float)
df_filter['VariaçãoPatrimonial'] = df_filter['VariaçãoPatrimonial'].astype(float)

df_filter

    Códigodo fundo  Preço Atual  ...  VariaçãoPatrimonial  Dividendo
4           DOMC11       439.00  ...                 0.00       0.00
6           ORPD11       132.00  ...                 0.00       1.38
7           ATSA11        98.97  ...                 0.00       0.25
9           HTMX11        84.35  ...                 0.00       0.00
14          FMOF11        67.21  ...                 0.00       0.64
..             ...          ...  ...                  ...        ...
238         XPPR11        60.78  ...                -0.61       0.55
245         RBVA11        95.70  ...                 0.17       0.91
251         PLRI11        39.10  ...                -8.26       0.20
252        BBFI11B      1964.99  ...                 0.21      25.85
253         HSML11        69.84  ...                 0.10       0.52

[100 rows x 7 columns]

O processo de tratamento de dados está quase finalizado. Basta agora criar nossa classe e eliminar o atributo do nome do fundo. 

Para criar a classe iremos utilizar a seguinte fórmula

    Lucro = Dividendo 

De modo bem simplista, tal formula representa o lucro que temos com um fundo.

Como a coluna com o tickets não é mais necessária, podemos retira-la e exportar os dados para o treinamento!

In [ ]:
from google.colab import files

In [ ]:
df_final = df_filter.iloc[:,1:]


df_final.to_csv('file_dates.csv',index = False)


files.download('file_dates.csv')